@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body,html {
        font-family: Proxima Nova, system-ui, sans-serif;
        font-size: 15px;
    }

    @media (min-width: 640px) {
        body,
        html {
            font-size: 16px;
        }
    }

    /*@font-face {*/
    /*    font-family: Proxima Nova;*/
    /*    font-weight: 400;*/
    /*    src: url("../fonts/proximanova-regular.otf") format("otf");*/
    /*}*/
    /*@font-face {*/
    /*    font-family: Proxima Nova;*/
    /*    font-weight: 500;*/
    /*    src: url("../fonts/proximanova-medium.otf") format("otf");*/
    /*}*/
    /*@font-face {*/
    /*    font-family: Proxima Nova;*/
    /*    font-weight: 600;*/
    /*    src: url("../fonts/proximanova-semibold.otf") format("otf");*/
    /*}*/
    /*@font-face {*/
    /*    font-family: Proxima Nova;*/
    /*    font-weight: 700;*/
    /*    src: url("../fonts/proximanova-bold.otf") format("otf");*/
    /*}*/
}
